body {
  background-color: whitesmoke;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.submit-area > input {
  width: 300px;
  height: 150px;
  text-align: center;

}

.submit-button {
  width: 100px;
}

.submit-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.node {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.canvas { 
  width: 1200px;
  height: 800px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 1px, 5px, 20px, 10px, rgb(197, 197, 197);

  justify-self: center;
  align-self: center;
  position: relative;
  left: 20px;
  bottom: 100px;  
  display: flex;
  justify-content: center;

}